In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler ,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import Pipeline

- ass hhh BH

- saab  hhuj

- uuua hvdkad bcgkakud

In [1]:
df.head()

NameError: name 'df' is not defined

In [2]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/blood-transfusion/transfusion.data"
df=pd.read_csv(url)
df.head()

   Recency (months)  ...  whether he/she donated blood in March 2007
0                 2  ...                                           1
1                 0  ...                                           1
2                 1  ...                                           1
3                 2  ...                                           1
4                 1  ...                                           0

[5 rows x 5 columns]

In [3]:
#assiging column names
df.columns=['Recency','Frequency','Monetary','Time','Donated']

asiigning the colum names

In [4]:
x=df.drop('Donated',axis=1)
y=df['Donated']

- ss bba haja

In [1]:
target=LabelEncoder()

NameError: name 'LabelEncoder' is not defined

- ss

In [8]:
clf= Pipeline(steps=[
    ('scaler',StandardScaler()),
    ('knn',KNeighborsClassifier(n_neighbors=5))
])

In [3]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

NameError: name 'train_test_split' is not defined

taring the model;

In [4]:
clf.fit(X_train,y_train)

NameError: name 'clf' is not defined

In [5]:
y_pred=clf.predict(X_test)
cm=confusion_matrix(y_test,y_pred) print(cm)

SyntaxError: invalid syntax (136816047.py, line 2)